/*
 * Verification | Sinch
 * Verify users with SMS, flash calls (missed calls), a regular call, or data verification.
 *
 * The version of the OpenAPI document: 2.0.1
 * Contact: support@sinch.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.sinch.sdk.domains.verification.api.v1.internal;

import com.fasterxml.jackson.core.type.TypeReference;
import com.sinch.sdk.core.exceptions.ApiException;
import com.sinch.sdk.core.exceptions.ApiExceptionBuilder;
import com.sinch.sdk.core.http.AuthManager;
import com.sinch.sdk.core.http.HttpClient;
import com.sinch.sdk.core.http.HttpMapper;
import com.sinch.sdk.core.http.HttpMethod;
import com.sinch.sdk.core.http.HttpRequest;
import com.sinch.sdk.core.http.HttpResponse;
import com.sinch.sdk.core.http.HttpStatus;
import com.sinch.sdk.core.http.URLParameter;
import com.sinch.sdk.core.http.URLPathUtils;
import com.sinch.sdk.core.models.ServerConfiguration;
import com.sinch.sdk.domains.verification.models.v1.report.request.internal.VerificationReportRequestInternal;
import com.sinch.sdk.domains.verification.models.v1.report.response.internal.VerificationReportResponseInternal;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collection;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.logging.Logger;

public class VerificationsReportApi {

  private static final Logger LOGGER = Logger.getLogger(VerificationsReportApi.class.getName());
  private HttpClient httpClient;
  private ServerConfiguration serverConfiguration;
  private Map<String, AuthManager> authManagersByOasSecuritySchemes;
  private HttpMapper mapper;

  public VerificationsReportApi(
      HttpClient httpClient,
      ServerConfiguration serverConfiguration,
      Map<String, AuthManager> authManagersByOasSecuritySchemes,
      HttpMapper mapper) {
    this.httpClient = httpClient;
    this.serverConfiguration = serverConfiguration;
    this.authManagersByOasSecuritySchemes = authManagersByOasSecuritySchemes;
    this.mapper = mapper;
  }

  /**
   * Report a verification with ID Report the received verification code to verify it, using the
   * Verification ID of the Verification request.
   *
   * @param id The ID of the verification. (required)
   * @param verificationReportRequestInternal (required)
   * @return VerificationReportResponseInternal
   * @throws ApiException if fails to make API call
   */
  public VerificationReportResponseInternal reportVerificationById(
      String id, VerificationReportRequestInternal verificationReportRequestInternal)
      throws ApiException {

    LOGGER.finest(
        "[reportVerificationById]"
            + " "
            + "id: "
            + id
            + ", "
            + "verificationReportRequestInternal: "
            + verificationReportRequestInternal);

    HttpRequest httpRequest =
        reportVerificationByIdRequestBuilder(id, verificationReportRequestInternal);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<VerificationReportResponseInternal> localVarReturnType =
          new TypeReference<VerificationReportResponseInternal>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest reportVerificationByIdRequestBuilder(
      String id, VerificationReportRequestInternal verificationReportRequestInternal)
      throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(
          400, "Missing the required parameter 'id' when calling reportVerificationById");
    }
    // verify the required parameter 'verificationReportRequestInternal' is set
    if (verificationReportRequestInternal == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'verificationReportRequestInternal' when calling"
              + " reportVerificationById");
    }

    String localVarPath =
        "/verification/v1/verifications/id/{id}"
            .replaceAll("\\{" + "id" + "\\}", URLPathUtils.encodePathSegment(id.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "Application");
    final String serializedBody =
        mapper.serialize(localVarContentTypes, verificationReportRequestInternal);

    return new HttpRequest(
        localVarPath,
        HttpMethod.PUT,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Report a verification using Identity Report the received verification code to verify it, using
   * the identity of the user (in most cases, the phone number). For an SMS PIN verification or
   * Phone Call verification, this is the OTP code. For FlashCall, this is the CLI.
   *
   * @param endpoint For type &#x60;number&#x60; use a
   *     [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537)-compatible phone number.
   *     (required)
   * @param verificationReportRequestInternal (required)
   * @return VerificationReportResponseInternal
   * @throws ApiException if fails to make API call
   */
  public VerificationReportResponseInternal reportVerificationByIdentity(
      String endpoint, VerificationReportRequestInternal verificationReportRequestInternal)
      throws ApiException {

    LOGGER.finest(
        "[reportVerificationByIdentity]"
            + " "
            + "endpoint: "
            + endpoint
            + ", "
            + "verificationReportRequestInternal: "
            + verificationReportRequestInternal);

    HttpRequest httpRequest =
        reportVerificationByIdentityRequestBuilder(endpoint, verificationReportRequestInternal);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<VerificationReportResponseInternal> localVarReturnType =
          new TypeReference<VerificationReportResponseInternal>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest reportVerificationByIdentityRequestBuilder(
      String endpoint, VerificationReportRequestInternal verificationReportRequestInternal)
      throws ApiException {
    // verify the required parameter 'endpoint' is set
    if (endpoint == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'endpoint' when calling reportVerificationByIdentity");
    }
    // verify the required parameter 'verificationReportRequestInternal' is set
    if (verificationReportRequestInternal == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'verificationReportRequestInternal' when calling"
              + " reportVerificationByIdentity");
    }

    String localVarPath =
        "/verification/v1/verifications/number/{endpoint}"
            .replaceAll(
                "\\{" + "endpoint" + "\\}", URLPathUtils.encodePathSegment(endpoint.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "Application");
    final String serializedBody =
        mapper.serialize(localVarContentTypes, verificationReportRequestInternal);

    return new HttpRequest(
        localVarPath,
        HttpMethod.PUT,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }
}
