/*
 * Numbers | Sinch
 *
 * OpenAPI document version: 1.0.3
 * Contact: Support@sinch.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit the class manually.
 */

package com.sinch.sdk.domains.numbers.api.v1.adapters;

import com.fasterxml.jackson.core.type.TypeReference;
import com.sinch.sdk.core.exceptions.ApiException;
import com.sinch.sdk.core.exceptions.ApiExceptionBuilder;
import com.sinch.sdk.core.http.AuthManager;
import com.sinch.sdk.core.http.HttpClient;
import com.sinch.sdk.core.http.HttpMapper;
import com.sinch.sdk.core.http.HttpMethod;
import com.sinch.sdk.core.http.HttpRequest;
import com.sinch.sdk.core.http.HttpResponse;
import com.sinch.sdk.core.http.HttpStatus;
import com.sinch.sdk.core.http.URLParameter;
import com.sinch.sdk.core.http.URLPathUtils;
import com.sinch.sdk.core.models.ServerConfiguration;
import com.sinch.sdk.domains.numbers.models.v1.numberorder.request.CreateNumberOrderRequest;
import com.sinch.sdk.domains.numbers.models.v1.numberorder.request.LookupNumberRequirementsRequest;
import com.sinch.sdk.domains.numbers.models.v1.numberorder.request.UpdateNumberOrderRegistrationRequest;
import com.sinch.sdk.domains.numbers.models.v1.numberorder.response.NumberOrder;
import com.sinch.sdk.domains.numbers.models.v1.numberorder.response.NumberRequirements;
import com.sinch.sdk.domains.numbers.models.v1.numberorder.response.Registration;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collection;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.logging.Logger;

public class NumberOrderServiceImpl
    implements com.sinch.sdk.domains.numbers.api.v1.NumberOrderService {

  private static final Logger LOGGER = Logger.getLogger(NumberOrderServiceImpl.class.getName());
  private final HttpClient httpClient;
  private final ServerConfiguration serverConfiguration;
  private final Map<String, AuthManager> authManagersByOasSecuritySchemes;
  private final HttpMapper mapper;

  private final String projectId;

  public NumberOrderServiceImpl(
      HttpClient httpClient,
      ServerConfiguration serverConfiguration,
      Map<String, AuthManager> authManagersByOasSecuritySchemes,
      HttpMapper mapper,
      String projectId) {
    this.httpClient = httpClient;
    this.serverConfiguration = serverConfiguration;
    this.authManagersByOasSecuritySchemes = authManagersByOasSecuritySchemes;
    this.mapper = mapper;
    this.projectId = projectId;
  }

  @Override
  public NumberOrder createNumberOrder(CreateNumberOrderRequest createNumberOrderRequest)
      throws ApiException {

    LOGGER.finest(
        "[createNumberOrder]" + " " + "createNumberOrderRequest: " + createNumberOrderRequest);

    HttpRequest httpRequest = createNumberOrderRequestBuilder(createNumberOrderRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<NumberOrder>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest createNumberOrderRequestBuilder(
      CreateNumberOrderRequest createNumberOrderRequest) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling createNumberOrder");
    }
    // verify the required parameter 'createNumberOrderRequest' is set
    if (createNumberOrderRequest == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'createNumberOrderRequest' when calling"
              + " createNumberOrder");
    }

    String localVarPath =
        "/v1/projects/{projectId}/numberOrders:createNumberOrder"
            .replaceAll(
                "\\{" + "projectId" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = mapper.serialize(localVarContentTypes, createNumberOrderRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public NumberOrder getNumberOrder(String numberOrderId) throws ApiException {

    LOGGER.finest("[getNumberOrder]" + " " + "numberOrderId: " + numberOrderId);

    HttpRequest httpRequest = getNumberOrderRequestBuilder(numberOrderId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<NumberOrder>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest getNumberOrderRequestBuilder(String numberOrderId) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling getNumberOrder");
    }
    // verify the required parameter 'numberOrderId' is set
    if (numberOrderId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'numberOrderId' when calling getNumberOrder");
    }

    String localVarPath =
        "/v1/projects/{projectId}/numberOrders/{numberOrderId}"
            .replaceAll(
                "\\{" + "projectId" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "numberOrderId" + "\\}",
                URLPathUtils.encodePathSegment(numberOrderId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public Registration getNumberOrderRegistration(String numberOrderId) throws ApiException {

    LOGGER.finest("[getNumberOrderRegistration]" + " " + "numberOrderId: " + numberOrderId);

    HttpRequest httpRequest = getNumberOrderRegistrationRequestBuilder(numberOrderId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<Registration>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest getNumberOrderRegistrationRequestBuilder(String numberOrderId)
      throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'this.projectId' when calling"
              + " getNumberOrderRegistration");
    }
    // verify the required parameter 'numberOrderId' is set
    if (numberOrderId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'numberOrderId' when calling getNumberOrderRegistration");
    }

    String localVarPath =
        "/v1/projects/{projectId}/numberOrders/{numberOrderId}/registration"
            .replaceAll(
                "\\{" + "projectId" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "numberOrderId" + "\\}",
                URLPathUtils.encodePathSegment(numberOrderId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public NumberRequirements lookupNumberRequirements(
      LookupNumberRequirementsRequest lookupNumberRequirementsRequest) throws ApiException {

    LOGGER.finest(
        "[lookupNumberRequirements]"
            + " "
            + "lookupNumberRequirementsRequest: "
            + lookupNumberRequirementsRequest);

    HttpRequest httpRequest =
        lookupNumberRequirementsRequestBuilder(lookupNumberRequirementsRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<NumberRequirements>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest lookupNumberRequirementsRequestBuilder(
      LookupNumberRequirementsRequest lookupNumberRequirementsRequest) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'this.projectId' when calling lookupNumberRequirements");
    }
    // verify the required parameter 'lookupNumberRequirementsRequest' is set
    if (lookupNumberRequirementsRequest == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'lookupNumberRequirementsRequest' when calling"
              + " lookupNumberRequirements");
    }

    String localVarPath =
        "/v1/projects/{projectId}/numberOrders:lookupNumberRequirements"
            .replaceAll(
                "\\{" + "projectId" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody =
        mapper.serialize(localVarContentTypes, lookupNumberRequirementsRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public NumberOrder submitNumberOrder(String numberOrderId) throws ApiException {

    LOGGER.finest("[submitNumberOrder]" + " " + "numberOrderId: " + numberOrderId);

    HttpRequest httpRequest = submitNumberOrderRequestBuilder(numberOrderId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<NumberOrder>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest submitNumberOrderRequestBuilder(String numberOrderId) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling submitNumberOrder");
    }
    // verify the required parameter 'numberOrderId' is set
    if (numberOrderId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'numberOrderId' when calling submitNumberOrder");
    }

    String localVarPath =
        "/v1/projects/{projectId}/numberOrders/{numberOrderId}/submit"
            .replaceAll(
                "\\{" + "projectId" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "numberOrderId" + "\\}",
                URLPathUtils.encodePathSegment(numberOrderId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public Registration updateNumberOrderRegistration(
      String numberOrderId,
      UpdateNumberOrderRegistrationRequest updateNumberOrderRegistrationRequest)
      throws ApiException {

    LOGGER.finest(
        "[updateNumberOrderRegistration]"
            + " "
            + "numberOrderId: "
            + numberOrderId
            + ", "
            + "updateNumberOrderRegistrationRequest: "
            + updateNumberOrderRegistrationRequest);

    HttpRequest httpRequest =
        updateNumberOrderRegistrationRequestBuilder(
            numberOrderId, updateNumberOrderRegistrationRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<Registration>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest updateNumberOrderRegistrationRequestBuilder(
      String numberOrderId,
      UpdateNumberOrderRegistrationRequest updateNumberOrderRegistrationRequest)
      throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'this.projectId' when calling"
              + " updateNumberOrderRegistration");
    }
    // verify the required parameter 'numberOrderId' is set
    if (numberOrderId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'numberOrderId' when calling"
              + " updateNumberOrderRegistration");
    }
    // verify the required parameter 'updateNumberOrderRegistrationRequest' is set
    if (updateNumberOrderRegistrationRequest == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'updateNumberOrderRegistrationRequest' when calling"
              + " updateNumberOrderRegistration");
    }

    String localVarPath =
        "/v1/projects/{projectId}/numberOrders/{numberOrderId}/registration"
            .replaceAll(
                "\\{" + "projectId" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "numberOrderId" + "\\}",
                URLPathUtils.encodePathSegment(numberOrderId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody =
        mapper.serialize(localVarContentTypes, updateNumberOrderRegistrationRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.PUT,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public void uploadNumberOrderAttachment(String numberOrderId, String attachmentId)
      throws ApiException {

    LOGGER.finest(
        "[uploadNumberOrderAttachment]"
            + " "
            + "numberOrderId: "
            + numberOrderId
            + ", "
            + "attachmentId: "
            + attachmentId);

    HttpRequest httpRequest =
        uploadNumberOrderAttachmentRequestBuilder(numberOrderId, attachmentId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return;
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest uploadNumberOrderAttachmentRequestBuilder(
      String numberOrderId, String attachmentId) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'this.projectId' when calling"
              + " uploadNumberOrderAttachment");
    }
    // verify the required parameter 'numberOrderId' is set
    if (numberOrderId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'numberOrderId' when calling"
              + " uploadNumberOrderAttachment");
    }
    // verify the required parameter 'attachmentId' is set
    if (attachmentId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'attachmentId' when calling uploadNumberOrderAttachment");
    }

    String localVarPath =
        "/v1/projects/{projectId}/numberOrders/{numberOrderId}/attachments/{attachmentId}"
            .replaceAll(
                "\\{" + "projectId" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "numberOrderId" + "\\}",
                URLPathUtils.encodePathSegment(numberOrderId.toString()))
            .replaceAll(
                "\\{" + "attachmentId" + "\\}",
                URLPathUtils.encodePathSegment(attachmentId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("multipart/form-data");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }
}
