/*
 * Numbers | Sinch
 *
 * OpenAPI document version: 1.0.3
 * Contact: Support@sinch.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit the class manually.
 */

package com.sinch.sdk.domains.numbers.api.v1.internal;

import com.fasterxml.jackson.core.type.TypeReference;
import com.sinch.sdk.core.exceptions.ApiException;
import com.sinch.sdk.core.exceptions.ApiExceptionBuilder;
import com.sinch.sdk.core.http.AuthManager;
import com.sinch.sdk.core.http.HttpClient;
import com.sinch.sdk.core.http.HttpMapper;
import com.sinch.sdk.core.http.HttpMethod;
import com.sinch.sdk.core.http.HttpRequest;
import com.sinch.sdk.core.http.HttpResponse;
import com.sinch.sdk.core.http.HttpStatus;
import com.sinch.sdk.core.http.URLParameter;
import com.sinch.sdk.core.http.URLPathUtils;
import com.sinch.sdk.core.models.ServerConfiguration;
import com.sinch.sdk.domains.numbers.models.v1.ActiveNumber;
import com.sinch.sdk.domains.numbers.models.v1.EmergencyAddress;
import com.sinch.sdk.domains.numbers.models.v1.request.ActiveNumberUpdateRequest;
import com.sinch.sdk.domains.numbers.models.v1.request.EmergencyAddressRequest;
import com.sinch.sdk.domains.numbers.models.v1.response.ValidateAddressResponse;
import com.sinch.sdk.domains.numbers.models.v1.response.internal.ActiveNumberListResponseInternal;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collection;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.logging.Logger;

public class ActiveNumberApi {

  private static final Logger LOGGER = Logger.getLogger(ActiveNumberApi.class.getName());
  private HttpClient httpClient;
  private ServerConfiguration serverConfiguration;
  private Map<String, AuthManager> authManagersByOasSecuritySchemes;
  private HttpMapper mapper;

  public ActiveNumberApi(
      HttpClient httpClient,
      ServerConfiguration serverConfiguration,
      Map<String, AuthManager> authManagersByOasSecuritySchemes,
      HttpMapper mapper) {
    this.httpClient = httpClient;
    this.serverConfiguration = serverConfiguration;
    this.authManagersByOasSecuritySchemes = authManagersByOasSecuritySchemes;
    this.mapper = mapper;
  }

  /**
   * Remove the emergency address for a number. With this endpoint, you can deprovision the
   * emergency address associated with this number.
   *
   * @param projectId Found on your [Sinch Customer
   *     Dashboard](https://dashboard.sinch.com/settings/project-management). Settings &gt;
   *     Projects. (required)
   * @param phoneNumber Output only. The phone number in
   *     [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading
   *     &#x60;+&#x60;. (required)
   * @throws ApiException if fails to make API call
   */
  public void deprovisionEmergencyAddress(String projectId, String phoneNumber)
      throws ApiException {

    LOGGER.finest(
        "[deprovisionEmergencyAddress]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "phoneNumber: "
            + phoneNumber);

    HttpRequest httpRequest = deprovisionEmergencyAddressRequestBuilder(projectId, phoneNumber);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return;
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest deprovisionEmergencyAddressRequestBuilder(
      String projectId, String phoneNumber) throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'projectId' when calling deprovisionEmergencyAddress");
    }
    // verify the required parameter 'phoneNumber' is set
    if (phoneNumber == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'phoneNumber' when calling deprovisionEmergencyAddress");
    }

    String localVarPath =
        "/v1/projects/{projectId}/activeNumbers/{phoneNumber}/emergencyAddress:deprovision"
            .replaceAll(
                "\\{" + "projectId" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "phoneNumber" + "\\}",
                URLPathUtils.encodePathSegment(phoneNumber.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Get the emergency address for a number With this endpoint, you can retrieve the emergency
   * address associated with this number.
   *
   * @param projectId Found on your [Sinch Customer
   *     Dashboard](https://dashboard.sinch.com/settings/project-management). Settings &gt;
   *     Projects. (required)
   * @param phoneNumber Output only. The phone number in
   *     [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading
   *     &#x60;+&#x60;. (required)
   * @return EmergencyAddress
   * @throws ApiException if fails to make API call
   */
  public EmergencyAddress getEmergencyAddress(String projectId, String phoneNumber)
      throws ApiException {

    LOGGER.finest(
        "[getEmergencyAddress]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "phoneNumber: "
            + phoneNumber);

    HttpRequest httpRequest = getEmergencyAddressRequestBuilder(projectId, phoneNumber);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<EmergencyAddress> localVarReturnType = new TypeReference<EmergencyAddress>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest getEmergencyAddressRequestBuilder(String projectId, String phoneNumber)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling getEmergencyAddress");
    }
    // verify the required parameter 'phoneNumber' is set
    if (phoneNumber == null) {
      throw new ApiException(
          400, "Missing the required parameter 'phoneNumber' when calling getEmergencyAddress");
    }

    String localVarPath =
        "/v1/projects/{projectId}/activeNumbers/{phoneNumber}/emergencyAddress"
            .replaceAll(
                "\\{" + "projectId" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "phoneNumber" + "\\}",
                URLPathUtils.encodePathSegment(phoneNumber.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Retrieve an active phone number Retrieve a specific active phone number.
   *
   * @param projectId Found on your [Sinch Customer
   *     Dashboard](https://dashboard.sinch.com/settings/project-management). Settings &gt;
   *     Projects. (required)
   * @param phoneNumber Output only. The phone number in
   *     [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading
   *     &#x60;+&#x60;. (required)
   * @return ActiveNumber
   * @throws ApiException if fails to make API call
   */
  public ActiveNumber numberServiceGetActiveNumber(String projectId, String phoneNumber)
      throws ApiException {

    LOGGER.finest(
        "[numberServiceGetActiveNumber]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "phoneNumber: "
            + phoneNumber);

    HttpRequest httpRequest = numberServiceGetActiveNumberRequestBuilder(projectId, phoneNumber);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<ActiveNumber> localVarReturnType = new TypeReference<ActiveNumber>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest numberServiceGetActiveNumberRequestBuilder(
      String projectId, String phoneNumber) throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'projectId' when calling numberServiceGetActiveNumber");
    }
    // verify the required parameter 'phoneNumber' is set
    if (phoneNumber == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'phoneNumber' when calling numberServiceGetActiveNumber");
    }

    String localVarPath =
        "/v1/projects/{projectId}/activeNumbers/{phoneNumber}"
            .replaceAll(
                "\\{" + "projectId" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "phoneNumber" + "\\}",
                URLPathUtils.encodePathSegment(phoneNumber.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Lists active numbers for a project Lists all active numbers for a project.
   *
   * @param projectId Found on your [Sinch Customer
   *     Dashboard](https://dashboard.sinch.com/settings/project-management). Settings &gt;
   *     Projects. (required)
   * @param regionCode Region code to filter by. ISO 3166-1 alpha-2 country code of the phone
   *     number. Example: US, GB or SE. (required)
   * @param type Number type to filter by. Options include, &#x60;MOBILE&#x60;, &#x60;LOCAL&#x60; or
   *     &#x60;TOLL_FREE&#x60;. (required)
   * @param numberPatternPattern Sequence of digits to search for. If you prefer or need certain
   *     digits in sequential order, you can enter the sequence of numbers here. For example,
   *     &#x60;2020&#x60;. (optional)
   * @param numberPatternSearchPattern Search pattern to apply. The options are, &#x60;START&#x60;,
   *     &#x60;CONTAINS&#x60;, and &#x60;END&#x60;. (optional)
   * @param capability Number capabilities to filter by SMS and/or VOICE. (optional
   * @param pageSize The maximum number of items to return. (optional)
   * @param pageToken The next page token value returned from a previous List request, if any.
   *     (optional)
   * @param orderBy Supported fields for ordering by &#x60;phoneNumber&#x60; or
   *     &#x60;displayName&#x60;. (optional)
   * @return ActiveNumberListResponseInternal
   * @throws ApiException if fails to make API call
   */
  public ActiveNumberListResponseInternal numberServiceListActiveNumbers(
      String projectId,
      String regionCode,
      String type,
      String numberPatternPattern,
      String numberPatternSearchPattern,
      List<String> capability,
      Integer pageSize,
      String pageToken,
      String orderBy)
      throws ApiException {

    LOGGER.finest(
        "[numberServiceListActiveNumbers]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "regionCode: "
            + regionCode
            + ", "
            + "type: "
            + type
            + ", "
            + "numberPatternPattern: "
            + numberPatternPattern
            + ", "
            + "numberPatternSearchPattern: "
            + numberPatternSearchPattern
            + ", "
            + "capability: "
            + capability
            + ", "
            + "pageSize: "
            + pageSize
            + ", "
            + "pageToken: "
            + pageToken
            + ", "
            + "orderBy: "
            + orderBy);

    HttpRequest httpRequest =
        numberServiceListActiveNumbersRequestBuilder(
            projectId,
            regionCode,
            type,
            numberPatternPattern,
            numberPatternSearchPattern,
            capability,
            pageSize,
            pageToken,
            orderBy);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<ActiveNumberListResponseInternal> localVarReturnType =
          new TypeReference<ActiveNumberListResponseInternal>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest numberServiceListActiveNumbersRequestBuilder(
      String projectId,
      String regionCode,
      String type,
      String numberPatternPattern,
      String numberPatternSearchPattern,
      List<String> capability,
      Integer pageSize,
      String pageToken,
      String orderBy)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'projectId' when calling numberServiceListActiveNumbers");
    }
    // verify the required parameter 'regionCode' is set
    if (regionCode == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'regionCode' when calling"
              + " numberServiceListActiveNumbers");
    }
    // verify the required parameter 'type' is set
    if (type == null) {
      throw new ApiException(
          400, "Missing the required parameter 'type' when calling numberServiceListActiveNumbers");
    }

    String localVarPath =
        "/v1/projects/{projectId}/activeNumbers"
            .replaceAll(
                "\\{" + "projectId" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    if (null != regionCode) {
      localVarQueryParams.add(
          new URLParameter(
              "regionCode", regionCode, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }

    if (null != numberPatternPattern) {
      localVarQueryParams.add(
          new URLParameter(
              "numberPattern.pattern",
              numberPatternPattern,
              URLParameter.STYLE.valueOf("form".toUpperCase()),
              true));
    }

    if (null != numberPatternSearchPattern) {
      localVarQueryParams.add(
          new URLParameter(
              "numberPattern.searchPattern",
              numberPatternSearchPattern,
              URLParameter.STYLE.valueOf("form".toUpperCase()),
              true));
    }

    if (null != type) {
      localVarQueryParams.add(
          new URLParameter("type", type, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }

    if (null != capability) {
      localVarQueryParams.add(
          new URLParameter(
              "capability", capability, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }

    if (null != pageSize) {
      localVarQueryParams.add(
          new URLParameter(
              "pageSize", pageSize, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }

    if (null != pageToken) {
      localVarQueryParams.add(
          new URLParameter(
              "pageToken", pageToken, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }

    if (null != orderBy) {
      localVarQueryParams.add(
          new URLParameter(
              "orderBy", orderBy, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Release an active number from the project With this endpoint, you can cancel your subscription
   * for a specific phone number.
   *
   * @param projectId Found on your [Sinch Customer
   *     Dashboard](https://dashboard.sinch.com/settings/project-management). Settings &gt;
   *     Projects. (required)
   * @param phoneNumber Output only. The phone number in
   *     [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading
   *     &#x60;+&#x60;. (required)
   * @return ActiveNumber
   * @throws ApiException if fails to make API call
   */
  public ActiveNumber numberServiceReleaseNumber(String projectId, String phoneNumber)
      throws ApiException {

    LOGGER.finest(
        "[numberServiceReleaseNumber]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "phoneNumber: "
            + phoneNumber);

    HttpRequest httpRequest = numberServiceReleaseNumberRequestBuilder(projectId, phoneNumber);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<ActiveNumber> localVarReturnType = new TypeReference<ActiveNumber>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest numberServiceReleaseNumberRequestBuilder(String projectId, String phoneNumber)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'projectId' when calling numberServiceReleaseNumber");
    }
    // verify the required parameter 'phoneNumber' is set
    if (phoneNumber == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'phoneNumber' when calling numberServiceReleaseNumber");
    }

    String localVarPath =
        "/v1/projects/{projectId}/activeNumbers/{phoneNumber}:release"
            .replaceAll(
                "\\{" + "projectId" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "phoneNumber" + "\\}",
                URLPathUtils.encodePathSegment(phoneNumber.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Update an active phone number Update an active phone number. You can perform the following
   * updates: * Update the name that displays for a customer by modifying the
   * &#x60;displayName&#x60; parameter. * Unlink the number from an SMS service or campaign by
   * updating the &#x60;smsConfiguration&#x60; configuration object. To unlink a number, submit the
   * request with an empty string (&#x60;””&#x60;) in the service plan ID or campaign ID fields. *
   * Before linking a number to a new service or campaign, it must be unlinked from any existing
   * service or campaign. Then, link the number to a new SMS service or campaign by updating the
   * service plan ID or campaign ID with the new desired value. * Update the Voice app to which the
   * number is assigned by using the voiceConfiguration object. You can update both SMS and Voice in
   * the same object by including both configuration objects. If you only need to update either
   * Voice or SMS, simply omit the other object. If you pass an empty configuration object, the
   * request will fail.
   *
   * @param projectId Found on your [Sinch Customer
   *     Dashboard](https://dashboard.sinch.com/settings/project-management). Settings &gt;
   *     Projects. (required)
   * @param phoneNumber Output only. The phone number in
   *     [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading
   *     &#x60;+&#x60;. (required)
   * @param activeNumberUpdateRequest The number body to be updated. (optional)
   * @return ActiveNumber
   * @throws ApiException if fails to make API call
   */
  public ActiveNumber numberServiceUpdateActiveNumber(
      String projectId, String phoneNumber, ActiveNumberUpdateRequest activeNumberUpdateRequest)
      throws ApiException {

    LOGGER.finest(
        "[numberServiceUpdateActiveNumber]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "phoneNumber: "
            + phoneNumber
            + ", "
            + "activeNumberUpdateRequest: "
            + activeNumberUpdateRequest);

    HttpRequest httpRequest =
        numberServiceUpdateActiveNumberRequestBuilder(
            projectId, phoneNumber, activeNumberUpdateRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<ActiveNumber> localVarReturnType = new TypeReference<ActiveNumber>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest numberServiceUpdateActiveNumberRequestBuilder(
      String projectId, String phoneNumber, ActiveNumberUpdateRequest activeNumberUpdateRequest)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'projectId' when calling"
              + " numberServiceUpdateActiveNumber");
    }
    // verify the required parameter 'phoneNumber' is set
    if (phoneNumber == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'phoneNumber' when calling"
              + " numberServiceUpdateActiveNumber");
    }

    String localVarPath =
        "/v1/projects/{projectId}/activeNumbers/{phoneNumber}"
            .replaceAll(
                "\\{" + "projectId" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "phoneNumber" + "\\}",
                URLPathUtils.encodePathSegment(phoneNumber.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = mapper.serialize(localVarContentTypes, activeNumberUpdateRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.PATCH,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Add a emergency address for a number With this endpoint, you can provision an emergency address
   * associated with this number.
   *
   * @param projectId Found on your [Sinch Customer
   *     Dashboard](https://dashboard.sinch.com/settings/project-management). Settings &gt;
   *     Projects. (required)
   * @param phoneNumber Output only. The phone number in
   *     [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading
   *     &#x60;+&#x60;. (required)
   * @param emergencyAddressRequest Request to provision an emergency address for a number.
   *     (optional)
   * @return EmergencyAddress
   * @throws ApiException if fails to make API call
   */
  public EmergencyAddress provisionEmergencyAddress(
      String projectId, String phoneNumber, EmergencyAddressRequest emergencyAddressRequest)
      throws ApiException {

    LOGGER.finest(
        "[provisionEmergencyAddress]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "phoneNumber: "
            + phoneNumber
            + ", "
            + "emergencyAddressRequest: "
            + emergencyAddressRequest);

    HttpRequest httpRequest =
        provisionEmergencyAddressRequestBuilder(projectId, phoneNumber, emergencyAddressRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<EmergencyAddress> localVarReturnType = new TypeReference<EmergencyAddress>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest provisionEmergencyAddressRequestBuilder(
      String projectId, String phoneNumber, EmergencyAddressRequest emergencyAddressRequest)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling provisionEmergencyAddress");
    }
    // verify the required parameter 'phoneNumber' is set
    if (phoneNumber == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'phoneNumber' when calling provisionEmergencyAddress");
    }

    String localVarPath =
        "/v1/projects/{projectId}/activeNumbers/{phoneNumber}/emergencyAddress:provision"
            .replaceAll(
                "\\{" + "projectId" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "phoneNumber" + "\\}",
                URLPathUtils.encodePathSegment(phoneNumber.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = mapper.serialize(localVarContentTypes, emergencyAddressRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Validate the emergency address for a number. With this endpoint, you can validate the emergency
   * address associated with this number.
   *
   * @param projectId Found on your [Sinch Customer
   *     Dashboard](https://dashboard.sinch.com/settings/project-management). Settings &gt;
   *     Projects. (required)
   * @param phoneNumber Output only. The phone number in
   *     [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading
   *     &#x60;+&#x60;. (required)
   * @param emergencyAddressRequest Request to validate an emergency address for a number.
   *     (optional)
   * @return ValidateAddressResponse
   * @throws ApiException if fails to make API call
   */
  public ValidateAddressResponse validateEmergencyAddress(
      String projectId, String phoneNumber, EmergencyAddressRequest emergencyAddressRequest)
      throws ApiException {

    LOGGER.finest(
        "[validateEmergencyAddress]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "phoneNumber: "
            + phoneNumber
            + ", "
            + "emergencyAddressRequest: "
            + emergencyAddressRequest);

    HttpRequest httpRequest =
        validateEmergencyAddressRequestBuilder(projectId, phoneNumber, emergencyAddressRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<ValidateAddressResponse> localVarReturnType =
          new TypeReference<ValidateAddressResponse>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest validateEmergencyAddressRequestBuilder(
      String projectId, String phoneNumber, EmergencyAddressRequest emergencyAddressRequest)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling validateEmergencyAddress");
    }
    // verify the required parameter 'phoneNumber' is set
    if (phoneNumber == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'phoneNumber' when calling validateEmergencyAddress");
    }

    String localVarPath =
        "/v1/projects/{projectId}/activeNumbers/{phoneNumber}/emergencyAddress:validate"
            .replaceAll(
                "\\{" + "projectId" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "phoneNumber" + "\\}",
                URLPathUtils.encodePathSegment(phoneNumber.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "OAuth2.0");
    final String serializedBody = mapper.serialize(localVarContentTypes, emergencyAddressRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }
}
