/*
 * Conversation API | Sinch
 * Send and receive messages globally over SMS, RCS, WhatsApp, Viber Business, Facebook messenger and other popular channels using the Sinch Conversation API.  The Conversation API endpoint uses built-in transcoding to give you the power of conversation across all supported channels and, if required, full control over channel specific features.
 *
 * The version of the OpenAPI document: 1.0
 * Contact: support@sinch.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.sinch.sdk.domains.conversation.api.v1;

import com.fasterxml.jackson.core.type.TypeReference;
import com.sinch.sdk.core.exceptions.ApiException;
import com.sinch.sdk.core.exceptions.ApiExceptionBuilder;
import com.sinch.sdk.core.http.AuthManager;
import com.sinch.sdk.core.http.HttpClient;
import com.sinch.sdk.core.http.HttpMapper;
import com.sinch.sdk.core.http.HttpMethod;
import com.sinch.sdk.core.http.HttpRequest;
import com.sinch.sdk.core.http.HttpResponse;
import com.sinch.sdk.core.http.HttpStatus;
import com.sinch.sdk.core.http.URLParameter;
import com.sinch.sdk.core.http.URLPathUtils;
import com.sinch.sdk.core.models.ServerConfiguration;
import com.sinch.sdk.domains.conversation.models.v1.ConversationChannel;
import com.sinch.sdk.domains.conversation.models.v1.contact.Contact;
import com.sinch.sdk.domains.conversation.models.v1.contact.request.ContactCreateRequest;
import com.sinch.sdk.domains.conversation.models.v1.contact.request.GetChannelProfileRequest;
import com.sinch.sdk.domains.conversation.models.v1.contact.request.MergeContactRequest;
import com.sinch.sdk.domains.conversation.models.v1.contact.response.GetChannelProfileResponse;
import com.sinch.sdk.domains.conversation.models.v1.contact.response.ListContactsResponse;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collection;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.logging.Logger;

public class ContactApi {

  private static final Logger LOGGER = Logger.getLogger(ContactApi.class.getName());
  private HttpClient httpClient;
  private ServerConfiguration serverConfiguration;
  private Map<String, AuthManager> authManagersByOasSecuritySchemes;
  private HttpMapper mapper;

  public ContactApi(
      HttpClient httpClient,
      ServerConfiguration serverConfiguration,
      Map<String, AuthManager> authManagersByOasSecuritySchemes,
      HttpMapper mapper) {
    this.httpClient = httpClient;
    this.serverConfiguration = serverConfiguration;
    this.authManagersByOasSecuritySchemes = authManagersByOasSecuritySchemes;
    this.mapper = mapper;
  }

  /**
   * Create a Contact Most Conversation API contacts are [created
   * automatically](/docs/conversation/contact-management/) when a message is sent to a new
   * recipient. You can also create a new contact manually using this API call.
   *
   * @param projectId The unique ID of the project. You can find this on the [Sinch
   *     Dashboard](https://dashboard.sinch.com/convapi/apps). (required)
   * @param contactCreateRequest The contact to create. (required)
   * @return Contact
   * @throws ApiException if fails to make API call
   */
  public Contact contactCreateContact(String projectId, ContactCreateRequest contactCreateRequest)
      throws ApiException {

    LOGGER.finest(
        "[contactCreateContact]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "contactCreateRequest: "
            + contactCreateRequest);

    HttpRequest httpRequest = contactCreateContactRequestBuilder(projectId, contactCreateRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<Contact> localVarReturnType = new TypeReference<Contact>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest contactCreateContactRequestBuilder(
      String projectId, ContactCreateRequest contactCreateRequest) throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling contactCreateContact");
    }
    // verify the required parameter 'contactCreateRequest' is set
    if (contactCreateRequest == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'contactCreateRequest' when calling"
              + " contactCreateContact");
    }

    String localVarPath =
        "/v1/projects/{project_id}/contacts"
            .replaceAll(
                "\\{" + "project_id" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = mapper.serialize(localVarContentTypes, contactCreateRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Delete a Contact Delete a contact as specified by the contact ID.
   *
   * @param projectId The unique ID of the project. You can find this on the [Sinch
   *     Dashboard](https://dashboard.sinch.com/convapi/apps). (required)
   * @param contactId The unique ID of the contact. (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object contactDeleteContact(String projectId, String contactId) throws ApiException {

    LOGGER.finest(
        "[contactDeleteContact]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "contactId: "
            + contactId);

    HttpRequest httpRequest = contactDeleteContactRequestBuilder(projectId, contactId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest contactDeleteContactRequestBuilder(String projectId, String contactId)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling contactDeleteContact");
    }
    // verify the required parameter 'contactId' is set
    if (contactId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'contactId' when calling contactDeleteContact");
    }

    String localVarPath =
        "/v1/projects/{project_id}/contacts/{contact_id}"
            .replaceAll(
                "\\{" + "project_id" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "contact_id" + "\\}", URLPathUtils.encodePathSegment(contactId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.DELETE,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Get Channel Profile Get user profile from a specific channel. Only supported on
   * &#x60;MESSENGER&#x60;, &#x60;INSTAGRAM&#x60;, &#x60;VIBER&#x60; and &#x60;LINE&#x60; channels.
   * Note that, in order to retrieve a WhatsApp display name, you can use the Get a Contact or List
   * Contacts operations, which will populate the &#x60;display_name&#x60; field of each returned
   * contact with the WhatsApp display name (if the name is already stored on the server and the
   * &#x60;display_name&#x60; field has not been overwritten by the user).
   *
   * @param projectId The unique ID of the project. You can find this on the [Sinch
   *     Dashboard](https://dashboard.sinch.com/convapi/apps). (required)
   * @param getChannelProfileRequest (required)
   * @return GetChannelProfileResponse
   * @throws ApiException if fails to make API call
   */
  public GetChannelProfileResponse contactGetChannelProfile(
      String projectId, GetChannelProfileRequest getChannelProfileRequest) throws ApiException {

    LOGGER.finest(
        "[contactGetChannelProfile]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "getChannelProfileRequest: "
            + getChannelProfileRequest);

    HttpRequest httpRequest =
        contactGetChannelProfileRequestBuilder(projectId, getChannelProfileRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<GetChannelProfileResponse> localVarReturnType =
          new TypeReference<GetChannelProfileResponse>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest contactGetChannelProfileRequestBuilder(
      String projectId, GetChannelProfileRequest getChannelProfileRequest) throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling contactGetChannelProfile");
    }
    // verify the required parameter 'getChannelProfileRequest' is set
    if (getChannelProfileRequest == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'getChannelProfileRequest' when calling"
              + " contactGetChannelProfile");
    }

    String localVarPath =
        "/v1/projects/{project_id}/contacts:getChannelProfile"
            .replaceAll(
                "\\{" + "project_id" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = mapper.serialize(localVarContentTypes, getChannelProfileRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Get a Contact Returns a specific contact as specified by the contact ID. Note the following: -
   * If a WhatsApp contact is returned, the &#x60;display_name&#x60; field of that contact may be
   * populated with the WhatsApp display name (if the name is already stored on the server and the
   * &#x60;display_name&#x60; field has not been overwritten by the user). - If you receive an
   * Inbound Message callback for an MO message on the Instagram channel, the corresponding payload
   * will not include the Instagram username. You may use the &#x60;contact_id&#x60; and
   * &#x60;channel_identity&#x60; values included in the callback to retreive the username (detailed
   * in the &#x60;display_name&#x60; field) with this Conversation API operation.
   *
   * @param projectId The unique ID of the project. You can find this on the [Sinch
   *     Dashboard](https://dashboard.sinch.com/convapi/apps). (required)
   * @param contactId The unique ID of the contact. (required)
   * @return Contact
   * @throws ApiException if fails to make API call
   */
  public Contact contactGetContact(String projectId, String contactId) throws ApiException {

    LOGGER.finest(
        "[contactGetContact]" + " " + "projectId: " + projectId + ", " + "contactId: " + contactId);

    HttpRequest httpRequest = contactGetContactRequestBuilder(projectId, contactId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<Contact> localVarReturnType = new TypeReference<Contact>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest contactGetContactRequestBuilder(String projectId, String contactId)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling contactGetContact");
    }
    // verify the required parameter 'contactId' is set
    if (contactId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'contactId' when calling contactGetContact");
    }

    String localVarPath =
        "/v1/projects/{project_id}/contacts/{contact_id}"
            .replaceAll(
                "\\{" + "project_id" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "contact_id" + "\\}", URLPathUtils.encodePathSegment(contactId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * List Contacts List all contacts in the project. Note that, if a WhatsApp contact is returned,
   * the &#x60;display_name&#x60; field of that contact may be populated with the WhatsApp display
   * name (if the name is already stored on the server and the &#x60;display_name&#x60; field has
   * not been overwritten by the user).
   *
   * @param projectId The unique ID of the project. You can find this on the [Sinch
   *     Dashboard](https://dashboard.sinch.com/convapi/apps). (required)
   * @param pageSize Optional. The maximum number of contacts to fetch. The default is 10 and the
   *     maximum is 20. (optional)
   * @param pageToken Optional. Next page token previously returned if any. (optional)
   * @param externalId Optional. Contact identifier in an external system. If used,
   *     &#x60;channel&#x60; and &#x60;identity&#x60; query parameters can&#39;t be used. (optional)
   * @param channel Optional. Specifies a channel, and must be set to one of the enum values. If
   *     set, the &#x60;identity&#x60; parameter must be set and &#x60;external_id&#x60; can&#39;t
   *     be used. Used in conjunction with &#x60;identity&#x60; to uniquely identify the specified
   *     channel identity. (optional)
   * @param identity Optional. If set, the &#x60;channel&#x60; parameter must be set and
   *     &#x60;external_id&#x60; can&#39;t be used. Used in conjunction with &#x60;channel&#x60; to
   *     uniquely identify the specified channel identity. This will differ from channel to channel.
   *     For example, a phone number for SMS, WhatsApp, and Viber Business. (optional)
   * @return ListContactsResponse
   * @throws ApiException if fails to make API call
   */
  public ListContactsResponse contactListContacts(
      String projectId,
      Integer pageSize,
      String pageToken,
      String externalId,
      ConversationChannel channel,
      String identity)
      throws ApiException {

    LOGGER.finest(
        "[contactListContacts]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "pageSize: "
            + pageSize
            + ", "
            + "pageToken: "
            + pageToken
            + ", "
            + "externalId: "
            + externalId
            + ", "
            + "channel: "
            + channel
            + ", "
            + "identity: "
            + identity);

    HttpRequest httpRequest =
        contactListContactsRequestBuilder(
            projectId, pageSize, pageToken, externalId, channel, identity);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<ListContactsResponse> localVarReturnType =
          new TypeReference<ListContactsResponse>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest contactListContactsRequestBuilder(
      String projectId,
      Integer pageSize,
      String pageToken,
      String externalId,
      ConversationChannel channel,
      String identity)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling contactListContacts");
    }

    String localVarPath =
        "/v1/projects/{project_id}/contacts"
            .replaceAll(
                "\\{" + "project_id" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();
    if (null != pageSize) {
      localVarQueryParams.add(
          new URLParameter(
              "page_size", pageSize, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }
    if (null != pageToken) {
      localVarQueryParams.add(
          new URLParameter(
              "page_token", pageToken, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }
    if (null != externalId) {
      localVarQueryParams.add(
          new URLParameter(
              "external_id", externalId, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }
    if (null != channel) {
      localVarQueryParams.add(
          new URLParameter(
              "channel", channel, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }
    if (null != identity) {
      localVarQueryParams.add(
          new URLParameter(
              "identity", identity, URLParameter.STYLE.valueOf("form".toUpperCase()), true));
    }

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Merge two Contacts The remaining contact will contain all conversations that the removed
   * contact did. If both contacts had conversations within the same App, messages from the removed
   * contact will be merged into corresponding active conversations in the destination contact.
   * Channel identities will be moved from the source contact to the destination contact only for
   * channels that weren&#39;t present there before. Moved channel identities will be placed at the
   * bottom of the channel priority list. Optional fields from the source contact will be copied
   * only if corresponding fields in the destination contact are empty The contact being removed
   * cannot be referenced after this call.
   *
   * @param projectId The unique ID of the project. You can find this on the [Sinch
   *     Dashboard](https://dashboard.sinch.com/convapi/apps). (required)
   * @param destinationId The unique ID of the contact that should be kept when merging two
   *     contacts. (required)
   * @param mergeContactRequest The contact to be removed. (required)
   * @return Contact
   * @throws ApiException if fails to make API call
   */
  public Contact contactMergeContact(
      String projectId, String destinationId, MergeContactRequest mergeContactRequest)
      throws ApiException {

    LOGGER.finest(
        "[contactMergeContact]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "destinationId: "
            + destinationId
            + ", "
            + "mergeContactRequest: "
            + mergeContactRequest);

    HttpRequest httpRequest =
        contactMergeContactRequestBuilder(projectId, destinationId, mergeContactRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<Contact> localVarReturnType = new TypeReference<Contact>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest contactMergeContactRequestBuilder(
      String projectId, String destinationId, MergeContactRequest mergeContactRequest)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling contactMergeContact");
    }
    // verify the required parameter 'destinationId' is set
    if (destinationId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'destinationId' when calling contactMergeContact");
    }
    // verify the required parameter 'mergeContactRequest' is set
    if (mergeContactRequest == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'mergeContactRequest' when calling contactMergeContact");
    }

    String localVarPath =
        "/v1/projects/{project_id}/contacts/{destination_id}:merge"
            .replaceAll(
                "\\{" + "project_id" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "destination_id" + "\\}",
                URLPathUtils.encodePathSegment(destinationId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = mapper.serialize(localVarContentTypes, mergeContactRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  /**
   * Update a Contact Updates a contact as specified by the contact ID.
   *
   * @param projectId The unique ID of the project. You can find this on the [Sinch
   *     Dashboard](https://dashboard.sinch.com/convapi/apps). (required)
   * @param contactId The unique ID of the contact. (required)
   * @param contact The contact to be updated (required)
   * @param updateMaskPaths The set of field mask paths. (optional
   * @return Contact
   * @throws ApiException if fails to make API call
   */
  public Contact contactUpdateContact(
      String projectId, String contactId, Contact contact, List<String> updateMaskPaths)
      throws ApiException {

    LOGGER.finest(
        "[contactUpdateContact]"
            + " "
            + "projectId: "
            + projectId
            + ", "
            + "contactId: "
            + contactId
            + ", "
            + "contact: "
            + contact
            + ", "
            + "updateMaskPaths: "
            + updateMaskPaths);

    HttpRequest httpRequest =
        contactUpdateContactRequestBuilder(projectId, contactId, contact, updateMaskPaths);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      TypeReference<Contact> localVarReturnType = new TypeReference<Contact>() {};
      return mapper.deserialize(response, localVarReturnType);
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest contactUpdateContactRequestBuilder(
      String projectId, String contactId, Contact contact, List<String> updateMaskPaths)
      throws ApiException {
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'projectId' when calling contactUpdateContact");
    }
    // verify the required parameter 'contactId' is set
    if (contactId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'contactId' when calling contactUpdateContact");
    }
    // verify the required parameter 'contact' is set
    if (contact == null) {
      throw new ApiException(
          400, "Missing the required parameter 'contact' when calling contactUpdateContact");
    }

    String localVarPath =
        "/v1/projects/{project_id}/contacts/{contact_id}"
            .replaceAll(
                "\\{" + "project_id" + "\\}", URLPathUtils.encodePathSegment(projectId.toString()))
            .replaceAll(
                "\\{" + "contact_id" + "\\}", URLPathUtils.encodePathSegment(contactId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();
    if (null != updateMaskPaths) {
      localVarQueryParams.add(
          new URLParameter(
              "update_mask.paths",
              updateMaskPaths,
              URLParameter.STYLE.valueOf("form".toUpperCase()),
              true));
    }

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = mapper.serialize(localVarContentTypes, contact);

    return new HttpRequest(
        localVarPath,
        HttpMethod.PATCH,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }
}
