/*
 * Conversation API | Sinch
 *
 * OpenAPI document version: 1.0
 * Contact: support@sinch.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit the class manually.
 */

package com.sinch.sdk.domains.conversation.api.v1.adapters;

import com.fasterxml.jackson.core.type.TypeReference;
import com.sinch.sdk.core.exceptions.ApiException;
import com.sinch.sdk.core.exceptions.ApiExceptionBuilder;
import com.sinch.sdk.core.http.AuthManager;
import com.sinch.sdk.core.http.HttpClient;
import com.sinch.sdk.core.http.HttpMapper;
import com.sinch.sdk.core.http.HttpMethod;
import com.sinch.sdk.core.http.HttpRequest;
import com.sinch.sdk.core.http.HttpResponse;
import com.sinch.sdk.core.http.HttpStatus;
import com.sinch.sdk.core.http.URLParameter;
import com.sinch.sdk.core.http.URLParameterUtils;
import com.sinch.sdk.core.http.URLPathUtils;
import com.sinch.sdk.core.models.ServerConfiguration;
import com.sinch.sdk.core.models.pagination.Page;
import com.sinch.sdk.core.models.pagination.PageNavigator;
import com.sinch.sdk.core.utils.StringUtil;
import com.sinch.sdk.domains.conversation.models.v1.consents.ConsentsListType;
import com.sinch.sdk.domains.conversation.models.v1.consents.internal.ConsentsListResponseInternal;
import com.sinch.sdk.domains.conversation.models.v1.consents.request.ConsentsListQueryParameters;
import com.sinch.sdk.domains.conversation.models.v1.consents.response.AuditRecordsResponse;
import com.sinch.sdk.domains.conversation.models.v1.consents.response.ConsentsListResponse;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collection;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.function.Function;
import java.util.logging.Logger;

public class ConsentsServiceImpl
    implements com.sinch.sdk.domains.conversation.api.v1.ConsentsService {

  private static final Logger LOGGER = Logger.getLogger(ConsentsServiceImpl.class.getName());
  private final HttpClient httpClient;
  private final ServerConfiguration serverConfiguration;
  private final Map<String, AuthManager> authManagersByOasSecuritySchemes;
  private final HttpMapper mapper;

  private final String projectId;

  public ConsentsServiceImpl(
      HttpClient httpClient,
      ServerConfiguration serverConfiguration,
      Map<String, AuthManager> authManagersByOasSecuritySchemes,
      HttpMapper mapper,
      String projectId) {
    this.httpClient = httpClient;
    this.serverConfiguration = serverConfiguration;
    this.authManagersByOasSecuritySchemes = authManagersByOasSecuritySchemes;
    this.mapper = mapper;
    this.projectId = projectId;
  }

  @Override
  public AuditRecordsResponse listAuditRecords(String appId, String identity) throws ApiException {

    LOGGER.finest("[listAuditRecords]" + " " + "appId: " + appId + ", " + "identity: " + identity);

    HttpRequest httpRequest = listAuditRecordsRequestBuilder(appId, identity);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<AuditRecordsResponse>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest listAuditRecordsRequestBuilder(String appId, String identity)
      throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling listAuditRecords");
    }
    // verify the required parameter 'appId' is set
    if (appId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'appId' when calling listAuditRecords");
    }
    // verify the required parameter 'identity' is set
    if (identity == null) {
      throw new ApiException(
          400, "Missing the required parameter 'identity' when calling listAuditRecords");
    }

    String localVarPath =
        "/v1/projects/{project_id}/apps/{app_id}/consents/identities/{identity}"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll("\\{" + "app_id" + "\\}", URLPathUtils.encodePathSegment(appId.toString()))
            .replaceAll(
                "\\{" + "identity" + "\\}", URLPathUtils.encodePathSegment(identity.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public ConsentsListResponse listIdentities(String appId, ConsentsListType listType)
      throws ApiException {
    return listIdentities(appId, listType, (ConsentsListQueryParameters) null);
  }

  @Override
  public ConsentsListResponse listIdentities(
      String appId, ConsentsListType listType, ConsentsListQueryParameters queryParameter)
      throws ApiException {

    LOGGER.finest(
        "[listIdentities]"
            + " "
            + "appId: "
            + appId
            + ", "
            + "listType: "
            + listType
            + ", "
            + "queryParameter: "
            + queryParameter);

    HttpRequest httpRequest = listIdentitiesRequestBuilder(appId, listType, queryParameter);
    return _fetchListIdentitiesPage(
        (queryParameters) -> listIdentitiesRequestBuilder(appId, listType, queryParameters),
        queryParameter,
        httpRequest);
  }

  private ConsentsListResponse _fetchListIdentitiesPage(
      Function<ConsentsListQueryParameters, HttpRequest> requestBuilder,
      ConsentsListQueryParameters queryParameter,
      HttpRequest httpRequest)
      throws ApiException {
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {

      ConsentsListResponseInternal deserialized =
          mapper.deserialize(response, new TypeReference<ConsentsListResponseInternal>() {});

      String nextToken = deserialized.getNextPageToken();

      ConsentsListQueryParameters nextParameters =
          ConsentsListQueryParameters.builder(queryParameter).setPageToken(nextToken).build();

      final HttpRequest nextHttpRequest =
          !StringUtil.isEmpty(nextToken) ? requestBuilder.apply(nextParameters) : null;

      return new ConsentsListResponse(
          () -> _fetchListIdentitiesPage(requestBuilder, nextParameters, nextHttpRequest),
          new Page<>(deserialized.getIdentities(), new PageNavigator<>(nextHttpRequest)));
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest listIdentitiesRequestBuilder(
      String appId, ConsentsListType listType, ConsentsListQueryParameters queryParameter)
      throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling listIdentities");
    }
    // verify the required parameter 'appId' is set
    if (appId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'appId' when calling listIdentities");
    }
    // verify the required parameter 'listType' is set
    if (listType == null) {
      throw new ApiException(
          400, "Missing the required parameter 'listType' when calling listIdentities");
    }

    String localVarPath =
        "/v1/projects/{project_id}/apps/{app_id}/consents/{list_type}"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll("\\{" + "app_id" + "\\}", URLPathUtils.encodePathSegment(appId.toString()))
            .replaceAll(
                "\\{" + "list_type" + "\\}", URLPathUtils.encodePathSegment(listType.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();
    if (null != queryParameter) {

      URLParameterUtils.addQueryParam(
          queryParameter.getPageSize(),
          "page_size",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);

      URLParameterUtils.addQueryParam(
          queryParameter.getPageToken(),
          "page_token",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);
    }

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }
}
