/*
 * Conversation API | Sinch
 *
 * OpenAPI document version: 1.0
 * Contact: support@sinch.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit the class manually.
 */

package com.sinch.sdk.domains.conversation.api.v1.adapters;

import com.fasterxml.jackson.core.type.TypeReference;
import com.sinch.sdk.core.exceptions.ApiException;
import com.sinch.sdk.core.exceptions.ApiExceptionBuilder;
import com.sinch.sdk.core.http.AuthManager;
import com.sinch.sdk.core.http.HttpClient;
import com.sinch.sdk.core.http.HttpMapper;
import com.sinch.sdk.core.http.HttpMethod;
import com.sinch.sdk.core.http.HttpRequest;
import com.sinch.sdk.core.http.HttpResponse;
import com.sinch.sdk.core.http.HttpStatus;
import com.sinch.sdk.core.http.URLParameter;
import com.sinch.sdk.core.http.URLParameterUtils;
import com.sinch.sdk.core.http.URLPathUtils;
import com.sinch.sdk.core.models.ServerConfiguration;
import com.sinch.sdk.core.models.pagination.Page;
import com.sinch.sdk.core.models.pagination.PageNavigator;
import com.sinch.sdk.core.utils.StringUtil;
import com.sinch.sdk.domains.conversation.models.v1.conversations.Conversation;
import com.sinch.sdk.domains.conversation.models.v1.conversations.internal.ConversationsListResponseInternal;
import com.sinch.sdk.domains.conversation.models.v1.conversations.internal.RecentConversationsListResponseInternal;
import com.sinch.sdk.domains.conversation.models.v1.conversations.request.ConversationsListQueryParameters;
import com.sinch.sdk.domains.conversation.models.v1.conversations.request.ConversationsUpdateQueryParameters;
import com.sinch.sdk.domains.conversation.models.v1.conversations.request.CreateConversationRequest;
import com.sinch.sdk.domains.conversation.models.v1.conversations.request.InjectEventRequest;
import com.sinch.sdk.domains.conversation.models.v1.conversations.request.InjectMessageRequestBase;
import com.sinch.sdk.domains.conversation.models.v1.conversations.request.RecentConversationsListQueryParameters;
import com.sinch.sdk.domains.conversation.models.v1.conversations.response.ConversationsListResponse;
import com.sinch.sdk.domains.conversation.models.v1.conversations.response.InjectEventResponse;
import com.sinch.sdk.domains.conversation.models.v1.conversations.response.RecentConversationsListResponse;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Collection;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.logging.Logger;

public class ConversationsServiceImpl
    implements com.sinch.sdk.domains.conversation.api.v1.ConversationsService {

  private static final Logger LOGGER = Logger.getLogger(ConversationsServiceImpl.class.getName());
  private final HttpClient httpClient;
  private final ServerConfiguration serverConfiguration;
  private final Map<String, AuthManager> authManagersByOasSecuritySchemes;
  private final HttpMapper mapper;

  private final String projectId;

  public ConversationsServiceImpl(
      HttpClient httpClient,
      ServerConfiguration serverConfiguration,
      Map<String, AuthManager> authManagersByOasSecuritySchemes,
      HttpMapper mapper,
      String projectId) {
    this.httpClient = httpClient;
    this.serverConfiguration = serverConfiguration;
    this.authManagersByOasSecuritySchemes = authManagersByOasSecuritySchemes;
    this.mapper = mapper;
    this.projectId = projectId;
  }

  @Override
  public ConversationsListResponse list() throws ApiException {

    return list((ConversationsListQueryParameters) null);
  }

  @Override
  public ConversationsListResponse list(ConversationsListQueryParameters queryParameter)
      throws ApiException {

    LOGGER.finest("[list]" + " " + "queryParameter: " + queryParameter);

    HttpRequest httpRequest = listRequestBuilder(queryParameter);
    return _getConversationsListPageAsListResponse(queryParameter, httpRequest);
  }

  public ConversationsListResponse _getConversationsListPageAsListResponse(
      ConversationsListQueryParameters queryParameter, HttpRequest httpRequest)
      throws ApiException {
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {

      ConversationsListResponseInternal deserialized =
          mapper.deserialize(response, new TypeReference<ConversationsListResponseInternal>() {});

      String nextToken = deserialized.getNextPageToken();

      ConversationsListQueryParameters nextParameters =
          ConversationsListQueryParameters.builder(queryParameter)
              .setPageToken(deserialized.getNextPageToken())
              .build();

      HttpRequest nextPage = null;
      if (!StringUtil.isEmpty(nextToken)) {
        nextPage = listRequestBuilder(nextParameters);
      }

      return new ConversationsListResponse(
          this,
          new Page<>(
              nextParameters, deserialized.getConversations(), new PageNavigator<>(nextPage)));
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest listRequestBuilder(ConversationsListQueryParameters queryParameter)
      throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling list");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();
    if (null != queryParameter) {

      URLParameterUtils.addQueryParam(
          queryParameter.getAppId(), "app_id", URLParameter.form, null, localVarQueryParams, true);

      URLParameterUtils.addQueryParam(
          queryParameter.getContactId(),
          "contact_id",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);

      URLParameterUtils.addQueryParam(
          queryParameter.getOnlyActive(),
          "only_active",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);

      URLParameterUtils.addQueryParam(
          queryParameter.getPageSize(),
          "page_size",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);

      URLParameterUtils.addQueryParam(
          queryParameter.getPageToken(),
          "page_token",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);

      URLParameterUtils.addQueryParam(
          queryParameter.getActiveChannel(),
          "active_channel",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);
    }

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public Conversation create(CreateConversationRequest createConversationRequest)
      throws ApiException {

    LOGGER.finest("[create]" + " " + "createConversationRequest: " + createConversationRequest);

    HttpRequest httpRequest = createRequestBuilder(createConversationRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<Conversation>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest createRequestBuilder(CreateConversationRequest createConversationRequest)
      throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling create");
    }
    // verify the required parameter 'createConversationRequest' is set
    if (createConversationRequest == null) {
      throw new ApiException(
          400, "Missing the required parameter 'createConversationRequest' when calling create");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = mapper.serialize(localVarContentTypes, createConversationRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public void delete(String conversationId) throws ApiException {

    LOGGER.finest("[delete]" + " " + "conversationId: " + conversationId);

    HttpRequest httpRequest = deleteRequestBuilder(conversationId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return;
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest deleteRequestBuilder(String conversationId) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling delete");
    }
    // verify the required parameter 'conversationId' is set
    if (conversationId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'conversationId' when calling delete");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations/{conversation_id}"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "conversation_id" + "\\}",
                URLPathUtils.encodePathSegment(conversationId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.DELETE,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public Conversation get(String conversationId) throws ApiException {

    LOGGER.finest("[get]" + " " + "conversationId: " + conversationId);

    HttpRequest httpRequest = getRequestBuilder(conversationId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<Conversation>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest getRequestBuilder(String conversationId) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling get");
    }
    // verify the required parameter 'conversationId' is set
    if (conversationId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'conversationId' when calling get");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations/{conversation_id}"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "conversation_id" + "\\}",
                URLPathUtils.encodePathSegment(conversationId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public InjectEventResponse injectEvent(
      String conversationId, InjectEventRequest injectEventRequest) throws ApiException {

    LOGGER.finest(
        "[injectEvent]"
            + " "
            + "conversationId: "
            + conversationId
            + ", "
            + "injectEventRequest: "
            + injectEventRequest);

    HttpRequest httpRequest = injectEventRequestBuilder(conversationId, injectEventRequest);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<InjectEventResponse>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest injectEventRequestBuilder(
      String conversationId, InjectEventRequest injectEventRequest) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling injectEvent");
    }
    // verify the required parameter 'conversationId' is set
    if (conversationId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'conversationId' when calling injectEvent");
    }
    // verify the required parameter 'injectEventRequest' is set
    if (injectEventRequest == null) {
      throw new ApiException(
          400, "Missing the required parameter 'injectEventRequest' when calling injectEvent");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations/{conversation_id}:inject-event"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "conversation_id" + "\\}",
                URLPathUtils.encodePathSegment(conversationId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = mapper.serialize(localVarContentTypes, injectEventRequest);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public void injectMessage(
      String conversationId, InjectMessageRequestBase injectMessageRequestBase)
      throws ApiException {

    LOGGER.finest(
        "[injectMessage]"
            + " "
            + "conversationId: "
            + conversationId
            + ", "
            + "injectMessageRequestBase: "
            + injectMessageRequestBase);

    HttpRequest httpRequest = injectMessageRequestBuilder(conversationId, injectMessageRequestBase);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return;
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest injectMessageRequestBuilder(
      String conversationId, InjectMessageRequestBase injectMessageRequestBase)
      throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling injectMessage");
    }
    // verify the required parameter 'conversationId' is set
    if (conversationId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'conversationId' when calling injectMessage");
    }
    // verify the required parameter 'injectMessageRequestBase' is set
    if (injectMessageRequestBase == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'injectMessageRequestBase' when calling injectMessage");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations/{conversation_id}:inject-message"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "conversation_id" + "\\}",
                URLPathUtils.encodePathSegment(conversationId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = mapper.serialize(localVarContentTypes, injectMessageRequestBase);

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public RecentConversationsListResponse listRecent(
      RecentConversationsListQueryParameters queryParameter) throws ApiException {

    LOGGER.finest("[listRecent]" + " " + "queryParameter: " + queryParameter);

    HttpRequest httpRequest = listRecentRequestBuilder(queryParameter);
    return _getRecentConversationsListPageAsListResponse(queryParameter, httpRequest);
  }

  public RecentConversationsListResponse _getRecentConversationsListPageAsListResponse(
      RecentConversationsListQueryParameters queryParameter, HttpRequest httpRequest)
      throws ApiException {
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {

      RecentConversationsListResponseInternal deserialized =
          mapper.deserialize(
              response, new TypeReference<RecentConversationsListResponseInternal>() {});

      String nextToken = deserialized.getNextPageToken();

      RecentConversationsListQueryParameters nextParameters =
          RecentConversationsListQueryParameters.builder(queryParameter)
              .setPageToken(deserialized.getNextPageToken())
              .build();

      HttpRequest nextPage = null;
      if (!StringUtil.isEmpty(nextToken)) {
        nextPage = listRecentRequestBuilder(nextParameters);
      }

      return new RecentConversationsListResponse(
          this,
          new Page<>(
              nextParameters, deserialized.getConversations(), new PageNavigator<>(nextPage)));
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest listRecentRequestBuilder(
      RecentConversationsListQueryParameters queryParameter) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling listRecent");
    }
    // verify the required parameter 'appId' is set
    if (null == queryParameter || queryParameter.getAppId() == null) {
      throw new ApiException(400, "Missing the required parameter 'appId' when calling listRecent");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations:recent"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();
    if (null != queryParameter) {

      URLParameterUtils.addQueryParam(
          queryParameter.getAppId(), "app_id", URLParameter.form, null, localVarQueryParams, true);

      URLParameterUtils.addQueryParam(
          queryParameter.getOnlyActive(),
          "only_active",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);

      URLParameterUtils.addQueryParam(
          queryParameter.getPageSize(),
          "page_size",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);

      URLParameterUtils.addQueryParam(
          queryParameter.getPageToken(),
          "page_token",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);

      URLParameterUtils.addQueryParam(
          queryParameter.getOrder(), "order", URLParameter.form, null, localVarQueryParams, true);
    }

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.GET,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public void stopActive(String conversationId) throws ApiException {

    LOGGER.finest("[stopActive]" + " " + "conversationId: " + conversationId);

    HttpRequest httpRequest = stopActiveRequestBuilder(conversationId);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return;
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest stopActiveRequestBuilder(String conversationId) throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling stopActive");
    }
    // verify the required parameter 'conversationId' is set
    if (conversationId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'conversationId' when calling stopActive");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations/{conversation_id}:stop"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "conversation_id" + "\\}",
                URLPathUtils.encodePathSegment(conversationId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList();

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = null;

    return new HttpRequest(
        localVarPath,
        HttpMethod.POST,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }

  @Override
  public Conversation update(String conversationId, Conversation conversation) throws ApiException {

    return update(conversationId, (ConversationsUpdateQueryParameters) null, conversation);
  }

  @Override
  public Conversation update(
      String conversationId,
      ConversationsUpdateQueryParameters queryParameter,
      Conversation conversation)
      throws ApiException {

    LOGGER.finest(
        "[update]"
            + " "
            + "conversationId: "
            + conversationId
            + ", "
            + "queryParameter: "
            + queryParameter
            + ", "
            + "conversation: "
            + conversation);

    HttpRequest httpRequest = updateRequestBuilder(conversationId, queryParameter, conversation);
    HttpResponse response =
        httpClient.invokeAPI(
            this.serverConfiguration, this.authManagersByOasSecuritySchemes, httpRequest);

    if (HttpStatus.isSuccessfulStatus(response.getCode())) {
      return mapper.deserialize(response, new TypeReference<Conversation>() {});
    }
    // fallback to default errors handling:
    // all error cases definition are not required from specs: will try some "hardcoded" content
    // parsing
    throw ApiExceptionBuilder.build(
        response.getMessage(),
        response.getCode(),
        mapper.deserialize(response, new TypeReference<HashMap<String, ?>>() {}));
  }

  private HttpRequest updateRequestBuilder(
      String conversationId,
      ConversationsUpdateQueryParameters queryParameter,
      Conversation conversation)
      throws ApiException {
    // verify the required parameter 'this.projectId' is set
    if (this.projectId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'this.projectId' when calling update");
    }
    // verify the required parameter 'conversationId' is set
    if (conversationId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'conversationId' when calling update");
    }
    // verify the required parameter 'conversation' is set
    if (conversation == null) {
      throw new ApiException(
          400, "Missing the required parameter 'conversation' when calling update");
    }

    String localVarPath =
        "/v1/projects/{project_id}/conversations/{conversation_id}"
            .replaceAll(
                "\\{" + "project_id" + "\\}",
                URLPathUtils.encodePathSegment(this.projectId.toString()))
            .replaceAll(
                "\\{" + "conversation_id" + "\\}",
                URLPathUtils.encodePathSegment(conversationId.toString()));

    List<URLParameter> localVarQueryParams = new ArrayList<>();
    if (null != queryParameter) {

      URLParameterUtils.addQueryParam(
          queryParameter.getMetadataUpdateStrategy(),
          "metadata_update_strategy",
          URLParameter.form,
          null,
          localVarQueryParams,
          true);
    }

    Map<String, String> localVarHeaderParams = new HashMap<>();

    final Collection<String> localVarAccepts = Arrays.asList("application/json");

    final Collection<String> localVarContentTypes = Arrays.asList("application/json");

    final Collection<String> localVarAuthNames = Arrays.asList("Basic", "oAuth2");
    final String serializedBody = mapper.serialize(localVarContentTypes, conversation);

    return new HttpRequest(
        localVarPath,
        HttpMethod.PATCH,
        localVarQueryParams,
        serializedBody,
        localVarHeaderParams,
        localVarAccepts,
        localVarContentTypes,
        localVarAuthNames);
  }
}
